@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000;
    min-height: 200vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 20px 100px;
    z-index: 99;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:  #fff;
    letter-spacing:  2px;
    font-weight:  500px;
    transition: .6s;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}
section {
    padding: 100px 200px;
}
.main {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: url(banner-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3e6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9em 2.18em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .6s;
}

.main-btn:hover {
    background-color: #4e9eff;
}
/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: .6rem;
  background-color: #E3E2E9;
}
::-webkit-scrollbar-thumb {
  background-color: #C8C6D2;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A19FAD;
}